.landing-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  &__navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  &__main {
    flex: 1;
    width: 100%;
  }

  &__footer {
    margin-top: auto;
  }
}
